@{
    ViewData["Title"] = "Homologación.";
    Layout = "_LayoutCOORDINADOR";
}

<div class="container">
           
         <center> 
                
           <form>
                
                     
                    <div class="col ">
                    <h4> Buscar Estudiante </h4>

                    <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                </div>
                
                <div class="col ">
                    <h4> Numero de Documento </h4>
                    
                        <input type="text" class="form-control col" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div>
                <div class="col ">
                    <h4> Nombre</h4>
                   
                        <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div>
                <div class="col ">
                    
                   <h4> Primer Apellido </h4>
                        <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div> <h4>Segundo Apellido </h4>
                    <div class="col ">
                        <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div>
                    <h4> Programa  </h4>
                    <div class="col ">
                        <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div>
                     <h4> Numero de Documento </h4>
                    <div class="col ">
                        <input type="text" class="form-control" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                    </div>
               
               
                </form> 
 </center>
        

                <br> <br/>
            <div class="col-lg-3 offset-lg-5">
                <button type="button" class="btn btn-dark">Generar Reporte</button>
            </div>
        </div>
</div>