@{
    ViewData["Title"] = "Programar asignatura.";
    Layout = "_LayoutCOORDINADOR";
}
<div class="container">
    <div class="col-sm-4 justify-content-md-center align-items-center">
        <form>
            <h4> Periodo Académico </h4>
            <div class="col ">
                <input type="text" class="form-control col" id="Periodotxt" placeholder="Periodo Academico" name="Periodo">
            </div>
        </form>
    </div>

    <div class="col-sm-4 justify-content-md-center align-items-center ">
        <h4> Programas </h4>
        <select class="form-select col-sm-12" aria-label="Default select example">
            <option> Maestría en Gestión de La  Información </option>
            <option>  Especialización en Seguridad de la Información </option>
            <option> Maestría en Medio Ambiente </option>
        </select>
    </div>

<br />
<br />

<form>
    <div class="col-md-4 mb-4">
<div class="input-group ">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
</div>

</form>
<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Sala o Aula</th>
            <th>Asignatura</th>
            <th>Cod_Asignatura</th>
            <th>Opcion</th>


        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
</div>
