@{
    ViewData["Title"] = "Reportes coordinador.";
    Layout = "_LayoutCOORDINADOR";
}

<div class="container">




    <div class="row">
        <div class="col-sm-4 justify-content-md-center align-items-center ">
            <h4> Tipo de Documento </h4>
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option> Cedula De Ciudadania </option>
                <option> Documento Extranjeria </option>
                <option> Tarjeta De Identidad </option>
                <option> Nit </option>
                <option> Pasaporte </option>
            </select>
        </div>
        <br />

        <div class="col-sm-3 justify-content-md-center align-items-center">
            <form>
                <h4> Numero de Documento </h4>
                <div class="col ">
                    <input type="text" class="form-control col" id="Documentotxt" placeholder="Numero De Documento" name="Documento">
                </div>
            </form>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Genero</th>
                    <th>Documento</th>
                    <th>Programa</th>
                    <th>Rol</th>
                    <th>Correo Electronico</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>


        <div class="col-lg-6 offset-lg-5">
            <button type="button" class="btn btn-dark">Generar Reporte</button>
        </div>
    </div></div>